basePath: /api/v1
definitions:
  models.User:
    properties:
      created_at:
        example: "2025-11-20T10:00:00Z"
        type: string
      email:
        example: mihail.marinescu@example.com
        type: string
      id:
        type: integer
      name:
        example: Mihail
        type: string
      updated_at:
        example: "2025-11-20T10:00:00Z"
        type: string
    type: object
info:
  contact: {}
  description: User microservice for fitness app
  title: User Service API
  version: "1.0"
paths:
  /users:
    post:
      consumes:
      - application/json
      parameters:
      - description: User
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/models.User'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
      summary: Create a new user
      tags:
      - Users
  /users/{id}:
    get:
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.User'
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get a user by ID
      tags:
      - Users
swagger: "2.0"
